<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>客服</title>
    <link rel="stylesheet" href="/static/service/js/layui/css/layui.css">
    <link rel="stylesheet" href="/static/customer/css/whisper-cli.css">
</head>
<body class="layui-layout-body" style="background: #f2f2f2;">
<div class="layui-layout layui-layout-admin" style="width: 100%;margin: 0 auto;">
    <div class="layui-header" style="background: #01AAED;">
        <div class="layui-logo">
            <a target="_blank" href="#" style="color: white" id="title">与 客服 交流中</a>
        </div>
    </div>

    <div class="layui-body whisper-chat-area">
        <div class="chat-left">
            <div class="chat-box whisper-chat-main">
                <ul id="chat-list" style="display: block">

                </ul>
            </div>
            <div class="msg-send">
                <div class="tools-bar">
                    <i class="layui-icon" style="font-size: 30px;" id="face" title="表情">&#xe60c;</i>
                    <i class="layui-icon" style="font-size: 30px;" id="image" title="图片">&#xe60d;</i>
                    <i class="layui-icon" style="font-size: 30px;" id="praise" title="点赞">&#xe6c6;</i>
                    <span style="float: right;cursor: pointer" id="cut">怎么发截图？</span>
                </div>
                <div class="msg-box">
                    <textarea class="msg-area" id="msg"></textarea>
                </div>
                <div class="send-area">
					<div style="float:left;font-size: 12px;padding: 0 0 0 10px;" class="layui-form"><input type="checkbox" name="switch" lay-skin="switch" lay-text="CTRL + 回车发送|回车发送" lay-filter="kj_post" value="1" checked=""></div>
                    <button class="layui-btn layui-btn-small send" id="send">
                        <i class="layui-icon">&#xe609;</i>发送
                    </button>
                </div>
            </div>
        </div>

        <div class="info-box">
            <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                <ul class="layui-tab-title">
                    <li class="layui-this">常见问题</li>
                    <li>系统公告</li>	
                </ul>
                <div class="layui-tab-content" style="height: 100px;">
                    <div class="layui-tab-item info-msg layui-show">
                        {if !empty($question)}
                        {foreach name="question" item="vo"}
                        <p><a href="javascript:showQA({$vo['id']});" >{$vo['question']}</a></p>
                        {/foreach}
                        {/if}
                    </div>
                    <div class="layui-tab-item info-msg">
                        {if !empty($notice)}
                        {foreach name="notice" item="vo"}
                        <p><a href="javascript:showNotice({$vo['id']});" >{$vo['title']}</a></p>
                        {/foreach}
                        {/if}
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="praise-box" id="appraise">
        <p>给客服评价： </p>
        <div id="star"></div><br/>
        <button class="layui-btn layui-btn-xs" style="float: right;background: #01AAED" id="do-praise">确定</button>
    </div>
    <div style="display: none;" id="kf_data" data-uid="{$id}" data-group="{$group}"></div>
</div>

<script src="/static/service/js/jquery-1.9.0.min.js"></script>

<script>
    var config = {
        uid: '{$id}',
        name: '{$name}',
        avatar: '{$avatar}',
        group: '{$group}',
        socket: '{$socket}'
    };
</script>
<script src="/static/service/js/layui/layui.js"></script>
<script src="/static/service/js/functions.js"></script>
<script src="/static/customer/js/whisper-cli.js"></script>
</body>
</html>